.table-view .column-header, .table-view .cell {
    -fx-font-size: 16px;
    -fx-alignment: CENTER;
}

.table-view .column-header-background {
    -fx-background-color: #ad764a;
}

.button:hover {
    -fx-cursor: hand; /* Muda o cursor para pointer (mão) */
    -fx-background-color: #ad764a;
}